<launch>
    <!-- values passed by command line input -->
    <arg name="model" default="robot_base.xacro"/>
    <!-- set these parameters on Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ros_sim)/robot/$(arg model)"/>
    <!-- Start 3 nodes: joint_state_publisher, robot_state_publisher and rviz -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find ros_sim)/rviz/xacro.rviz"/>
</launch>